@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #020617;
    overflow: hidden;
}

.background span {
    width: 19vmin;
    height: 19vmin;
    border-radius: 19vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 11;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #9333ea;
    top: 33%;
    left: 14%;
    animation-duration: 197s;
    animation-delay: -315s;
    transform-origin: 2vw -15vh;
    box-shadow: -38vmin 0 5.2866598647305265vmin currentColor;
}
.background span:nth-child(1) {
    color: #2563eb;
    top: 13%;
    left: 60%;
    animation-duration: 129s;
    animation-delay: -41s;
    transform-origin: -12vw 4vh;
    box-shadow: -38vmin 0 5.621901161259424vmin currentColor;
}
.background span:nth-child(2) {
    color: #059669;
    top: 66%;
    left: 27%;
    animation-duration: 280s;
    animation-delay: -127s;
    transform-origin: 25vw -18vh;
    box-shadow: 38vmin 0 5.2063773379737865vmin currentColor;
}
.background span:nth-child(3) {
    color: #059669;
    top: 22%;
    left: 87%;
    animation-duration: 95s;
    animation-delay: -51s;
    transform-origin: 20vw -21vh;
    box-shadow: -38vmin 0 5.0704725564981405vmin currentColor;
}
.background span:nth-child(4) {
    color: #059669;
    top: 76%;
    left: 41%;
    animation-duration: 18s;
    animation-delay: -44s;
    transform-origin: 7vw 9vh;
    box-shadow: 38vmin 0 5.318836885624476vmin currentColor;
}
.background span:nth-child(5) {
    color: #059669;
    top: 19%;
    left: 3%;
    animation-duration: 327s;
    animation-delay: -216s;
    transform-origin: 7vw 13vh;
    box-shadow: 38vmin 0 4.850923475423476vmin currentColor;
}
.background span:nth-child(6) {
    color: #9333ea;
    top: 54%;
    left: 90%;
    animation-duration: 157s;
    animation-delay: -49s;
    transform-origin: 11vw 5vh;
    box-shadow: -38vmin 0 4.908011677626526vmin currentColor;
}
.background span:nth-child(7) {
    color: #2563eb;
    top: 22%;
    left: 43%;
    animation-duration: 186s;
    animation-delay: -241s;
    transform-origin: 14vw 11vh;
    box-shadow: -38vmin 0 5.498047445591832vmin currentColor;
}
.background span:nth-child(8) {
    color: #2563eb;
    top: 92%;
    left: 70%;
    animation-duration: 216s;
    animation-delay: -24s;
    transform-origin: 13vw 3vh;
    box-shadow: 38vmin 0 5.435169888113945vmin currentColor;
}
.background span:nth-child(9) {
    color: #059669;
    top: 95%;
    left: 52%;
    animation-duration: 133s;
    animation-delay: -75s;
    transform-origin: 14vw -6vh;
    box-shadow: 38vmin 0 5.008526666456637vmin currentColor;
}
